<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Index</title>
</head>
<body>
 <h1>Index User</h1>
    {% if name %}
        <h2>Your name is {{name}}</h2>
    {% endif %}

    {% if email %}
        <h2>Your email is {{email}}</h2>
    {% endif %}

    {% if bday %}
        <h2>Your birthday is {{bday}}</h2>
    {% endif %}

    {% if tax_number %}
        <h2>Your Tax number is {{tax_number}}</h2>
    {% endif %}
</body>
</html>